.box {
  width: 75%;
  height: 50%;
  margin: -10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: linear-gradient(150deg, #DAC09B, #dac09bc4, #dac09b50);
  border-radius: 20px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
}
.links div:hover {
  /* box-shadow: 0px 10px 35px rgb(6, 217, 240); */
  transform: scale(1.05);
}
.links div {
  width: 210px;
  height: 50px;
  margin-left: 40px;
  background-color: #fbaa4eb5;
  display: flex;
  align-items: center;
  font-size: 30px;
  border-radius: 30px;
}
.links div a {
  text-decoration: none;
  color: #fffDD2;
}

.links div:hover {
  /* background-color: #e1d08f46; */
  transition: 0.25s ease-in-out;
  font-size: 33px;
  height: 52px;
}

.links img {
  height: 35px;
  width: 40px;
  color: #B08968;
  margin: 10px;
  border-radius: 50%;
}
form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 10px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(150deg, #ebab50e7, #9d5f07c9, #844e03c4);
  padding: 25px;
  border-radius: 10px;
}
form:hover {
  box-shadow: 0px 10px 35px rgb(6, 217, 240);
}
form input {
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  width: 400px;
  font-size: 20px;
}
form h1 {
  font-size: 40px;
  font-weight: 900;
}
textarea {
  height: 60px;
  padding: 10px;
  resize: none;
  border-radius: 15px;
  border: none;
  width: 400px;
  color: black;
  font-size: 20px;
}
form button {
  width: fit-content;
  padding: 10px;
  background: linear-gradient(45deg, #ea9b34, #e4932a);
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button:active {
  background-color: yellow;
}
@media (max-width: 900px) {
  .box {
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 15px;
    padding: 15px;
  }
  .messg {
    margin-right: 25px;
  }
  .links {
    padding: 20px;
    width: 100%;
    align-items: center;
  }

  .links div {
    width: 90%;
    margin-left: 0;
  }

  form {
    width: 100%;
    padding: 20px;
  }

  form input,
  textarea {
    width: 100%;
  }
}
