.project {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* PROJECT CARD */
.proj {
  background: linear-gradient(
    135deg,
   #DAC09B,
    #dac09bc9,
     #dac09bc4
  );
  min-height: 120px;
  padding: 25px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}

/* Hover Effect */
.proj:hover {
  /* box-shadow: 0px 10px 25px rgb(6, 217, 240); */
  transform: scale(1.03);
}
.proj h2{
  font-size: 3.5vw;
}
h1{
  font-size: 100px;
  text-align: center;
  /* margin-top: -20px; */
}

/* OPTIONAL TEXT STYLING */
/* .proj h2 {
  font-size: clamp(20px, 3vw, 32px);
  color: #fff;
}

.proj p {
  font-size: clamp(14px, 2vw, 18px);
  color: rgba(255, 255, 255, 0.9);
} */

/* ---------- RESPONSIVE ---------- */

@media (max-width: 768px) {
  .proj {
    flex-direction: column;
    text-align: center;
    gap: 15px;
    border-radius: 25px;
  }
  h1{
    font-size: 10vw;
  }
  .proj h2{
    font-size: 8vw;
  }
}

@media (max-width: 480px) {
  .proj {
    padding: 18px;
  }
  h1{
    font-size: 10vw;
  }
  .proj h2{
    font-size: 8vw;
  }
}
