*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(140deg,#7f5539 , #7f5539d6, #7f5539);
  /* background-color: black; */
  overflow-x: hidden;

}
.mainbox{
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
} 


